*{
    margin: 0px;
    padding: 0px;
}

/* header section style */
  .nav-container{
     display: flex;
     background-color: gray;
     justify-content: space-around;
     align-items: center;
     padding: 10px;

  }
  .logo{

  }
  .menus{
    display: flex;
    list-style: none;
    font-size: 18px;
    font-style: italic;
    gap: 15px;
}
.banner-container{
    height: 100vh;
    background-image: url("./asset/image/background.jpg"),
    linear-gradient(rgba(97, 92, 92, 0.894),rgba(0, 0, 0, 0.519));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    
}
.title{
    font-size: 55px;
    font-weight: bold;
    color: white;
}
.primary{
    color: red;
}
.description{
    color: white;
    padding: 10px; 
   
}
.banner-info{
    width:50%;
    margin: auto;
}
.service-container{
    height: 100vh;
    background-image: url("./asset/image/footer-bg.png"),
    linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.919));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    padding: 20px;
    align-items: center;
}
.icon{
      width: 90px;
      margin-bottom: 20px;
}
.box1{
    text-align: center;
    width: 160px;
    height: 150px;
    padding: 50px;
    background-color: white;
    color: black;
    border-radius: 5px;
}
 

  .service-description{
    width: 50%;
  }
  .boxes1{
    display: flex;
    gap: 5px;
    margin-top: 5px;
  }
  .btn{
    padding: 12px;
    border: none;
    border-radius: 1px;
  }
  .bg-primary{
    background-color: red;
  }
  .author-image{
    width:70px ;
    height: 70px;
    border-radius: 35px;
  }
  .profile-container{
      display: flex;
      padding-right: 20px;
      align-items: center;
      border-right: 2px solid red;
  }
  .author-container{
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .author-image{
    padding-right: 10px;
  }
.callpng{
    width: 80px;
    height: 80px;
}
.appointment-container{
    display: flex;
    align-items: center;
    width: 70%;
    padding: 20px;
    margin: auto;
    background-color: red;
    border-radius: 5px;
    margin-top: -60px;
    justify-content:space-around;
}
.blog-container{
  width: 80%;
  margin: auto;
  padding: 30px;
  
}

.call{
    display: flex;
    gap: 13px;
    align-items: center;
}
  .blog-title{
    color: black;
    text-align: center;
   margin: 50px;
  }
  .card{
    width: 230px;
    height: 300px;
    box-shadow: 3px 3px 3px gray;
    border-radius: 4px;
    background-color: aliceblue;
  }
  .blog-img {
    width: 100%;
    border-radius: 4px;
  }
  .cards{
    display: flex;
    justify-content: center;
    gap: 40px;
   
  }
 